<div class="node">
  <div class="node__title">
    <div class="node__name" [ngClass]="{ 'node__name--padding' : !expandable }">
      {{ categoryTreeNode.name }}
    </div>
    <div class="node__amount">
      €
      <ng-container *ngIf="expandable">
        {{ categoryTreeNode.totalAmountOfChildren | number:'1.2-2':'nl-BE' }}
      </ng-container>
      <ng-container *ngIf="!expandable">
        {{ categoryTreeNode.totalAmount | number:'1.2-2':'nl-BE' }}
      </ng-container>
    </div>
  </div>
  <div class="node__menu">
    <button mat-icon-button color="accent" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    @if (!expandable) {
      <button mat-menu-item (click)="onDetail(categoryTreeNode.id, categoryTreeNode.name)">
        <mat-icon>search</mat-icon>
        <span>Detail</span>
      </button>
    }
    <button mat-menu-item (click)="onAdd()">
      <mat-icon>add</mat-icon>
      <span>Toevoegen</span>
    </button>
    <button mat-menu-item [disabled]="categoryTreeNode.children.length > 0" (click)="onDelete()">
      <mat-icon>delete_forever</mat-icon>
      <span>Verwijderen</span>
    </button>
  </mat-menu>
</div>
