:host {
  width: 100%;
}

.node {
  display: flex;
  justify-content: space-between;


  &__title {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
  }

  &__name {
    &--padding {
      padding-left: 20px;
    }
  }

  &__amount {
    display: flex;
    align-items: center;
    color: #ff4081;
    margin-right: 10px;
  }
}
